<div class="container">

	 <div class="row">
	  <div class="row">	
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{post.nombreProducto}}</span>
              <p>{{post.presentacionProducto}}</p>
              <p> precio de venta: {{post.precioVenta}}</p>
              <p>Proveedor: {{post.idProveedor}}</p>
              <p>codigo del Producto: {{post.codigoProducto}}</p>
              <p>Precio de compra: {{post.precioCompra}}</p>
            </div>
            <div class="card-action">
            	<a href="#" class="waves-effect waves-teal btn-flat"><i class="small material-icons left">remove_red_eye</i>Actualizar</a>
            </div>
          </div>
        </div>
       </div>
     
	</div>
</div>	