<div class="container">
      <h1 align="center"> Venta {{post.idVenta}}</h1>
        <div class="col s6 ">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{post.idVenta}}</span>
              <p>id del empleado que realizo venta: {{post.idEmpleado}}</p>
              <p> Tipo de pago: {{post.idTipo}}</p>
              <p>Cliente: {{post.idCliente}}</p>
              <p>Total de la venta: {{post.totalVenta}}</p>
            </div>
            <div class="card-action">
            	<a href="#" class="waves-effect waves-teal btn-flat"><i class="small material-icons left">remove_red_eye</i>Actualizar</a>
            </div>
          </div>
     
	</div>
</div>